:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-main: rgba(255, 255, 255, 0.87);
  --color-background: #121213;

  --color-correct: #538d4e;
  --color-present: #b59f3b;
  --color-wrong: #3a3a3c;
  --color-accent: #565758;

  color-scheme: light dark;
  color: var(--color-main);
  background-color: var(--color-background);
}

#game {
  text-align: center;
  width: fit-content;
  margin: 2rem auto;
  display: grid;
  gap: 5px;
}

.row {
  display: flex;
  gap: 5px;
}

.cell {
  display: flex;
  place-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: solid 2px var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 60px;
  font-weight: bold;
  transition: rotateRow 1s linear;
}

.wrong {
  background-color: var(--color-wrong);
}

.right {
  background-color: var(--color-correct);
}

.misplaced {
  background-color: var(--color-present);
}

#keyboard {
  max-width: 500px;
  margin: 0 auto;
}

#keyboard div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

#keyboard div button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.25em;
  height: 58px;
  min-width: 43px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#keyboard div:last-of-type button:last-of-type,
#keyboard div:last-of-type button:first-of-type {
  aspect-ratio: 2/1;
}

@keyframes shakeRow {
  0% {
    translate: 0;
  }
  10% {
    translate: 5px;
  }
  20% {
    translate: -5px;
  }
  50% {
    translate: 5px;
  }
  80% {
    translate: -5px;
  }
  100% {
    translate: 0px;
  }
}

.shake {
  animation: shakeRow 200ms linear;
}
